<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Login</title>
</head>

<body>
    <Section class="loginpage">
        <div class="login">
            <div class="image">
                <img src="/images/album4.jpg" alt="">
            </div>
            <div class="form">
                <form class="formlogin" action="/auth/login" method="POST" id="form">
                    <div class="loginheading">
                        <h1>LOGIN</h1>
                    </div>
                    <div>
                        <% if (success_msg && success_msg.length) { %>
                            <p>
                                <%= success_msg %>
                            </p>
                            <% } else { %>
                                <p>
                                    <%= error_msg %>
                                </p>
                                <% } %>
                    </div>
                    <div class="email">
                        <input type="email" placeholder="Enter Your Email" name="email" id="email" autofocus required>
                    </div>
                    <div class="email">
                        <input type="password" placeholder="Enter Your password" name="password" id="password" required>
                    </div>
                    <div class="btn">
                        <button type="submit" class="submit">Submit</button>
                    </div>
                    <div class="text">
                        <p>Forgot Password <a href="/auth/forgotpassword">Click here</a></p>
                    </div>
                    <div class="text">
                        <p>Not Registered Yet? <a href="/auth/register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </Section>
</body>

</html>