<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Reset Password</title>
</head>

<body>
    <!-- <form action="/auth/resetpassword/:token" method="POST">
        <div>
            <% if (error_msg && error_msg.length) { %>
                <p>
                    <%= error_msg %>
                </p>
                <% } else { %>
                    <p>
                        <%= success_msg %>
                    </p>
                    <% } %>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form> -->

    <section class="loginpage">
        <div class="login">
            <div class="image">
                <img src="/images/album2.jpg" alt="">
            </div>
            <div class="form">
                <form class="formlogin" action="/auth/resetpassword/:token" method="post" id="form">
                    <div class="loginheading">
                        <h1>Reset Password</h1>
                    </div>
                    <div>
                        <% if (error_msg && error_msg.length) { %>
                            <p>
                                <%= error_msg %>
                            </p>
                            <% } else { %>
                                <p>
                                    <%= success_msg %>
                                </p>
                                <% } %>
                    </div>
                    <div class="email">
                        <input type="email" placeholder="Enter Your Email" name="email" id="email" required>
                    </div>
                    <div class="email">
                        <input type="password" placeholder="Enter Your Password" name="password" id="password" required>
                    </div>
                    <div class="email">
                        <input type="password" placeholder="Confirm Your Password" name="confirm_password"
                            id="confirm_password" required>
                    </div>
                    <div class="btn">
                        <button type="submit" class="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>



</body>

</html>