<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <title>Verify</title>
</head>

<body>
    <form action="/auth/verify" method="POST">
        <div>
            <% if (error_msg && error_msg.length) { %>
                <p>
                    <%= error_msg %>
                </p>
                <% } else { %>
                    <p>
                        <%= success_msg %>
                    </p>
                    <% } %>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>