<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dummy.css">
    <title>Document</title>
</head>
<body>
    <form action="/submit" enctype="multipart/form-data" method="post" >
        <section class="grid">
            <div class="box">
    
                <span class="add"><img src="https://img.icons8.com/material-outlined/24/000000/add.png"/>
                    <input type="file" name="picture0" id="imageSelect">
                </span>
                
                <img src="<%= arr && arr[0] %>" id="image0">
            </div>
            <div class="box">
                <span class="add"><img src="https://img.icons8.com/material-outlined/24/000000/add.png"/>
                    <input type="file" name="picture1" id="imageSelect">
                </span>
                
                <img src="<%= arr &&  arr[1] %>" id="image1">
            </div>
            <div class="box">
                <span class="add"><img src="https://img.icons8.com/material-outlined/24/000000/add.png"/>
                    <input type="file" name="picture2" id="imageSelect">
                </span>
                
                <img src="<%= arr && arr[2] %>" id="image2">
            </div>
            <div class="box">
                <span class="add"><img src="https://img.icons8.com/material-outlined/24/000000/add.png"/>
                    <input type="file" name="picture3" id="imageSelect">
                </span>
                
                <img src="<%= arr && arr[3] %>" id="image3">
            </div> 
        </section>
    
       
             <button class="">hii</button>
    
       
    
    </form> 
    <script src="../../javascript/admin.js"></script>  
</body>
</html>