<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/category.css">
    <title>Category</title>
</head>

<body>
    <!-- <section class="section1">
        <div class="sec1left">
            <div class="heartleft">

            </div>
        </div>
        <div class="sec1right">
            <div class="heartright">
                <p>when do u think is the right time to say i love you</p>
            </div>
        </div>
    </section>
    <section class="examplesec">
        <div class="heartclasswraper">
            <div class="heartleft" id="heart"></div>
            <div class="heartleft" id="heart">
                <div class="heartlefttext">
                    <h1>Where is your first meet?</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section1">
        <div class="sec1left">
            <div class="heartleft"></div>
        </div>
        <div class="sec1right">
            <div class="heartright">
                <p>when do u think is the right time to say i love you</p>
            </div>
        </div>
    </section> -->
    <section class="section1">
        <div class="section1left sectionbtn" data-name="tobevalentine">
            <img class="mediaimg" src="/images/mediaimg.png" alt="">
            <img class="normalimg" src="/images/Group 3.png" alt="heartimg" >
            <p>To Be My Valentine :💍 </p>
        </div>
        <div class="section1right sectionbtn" data-name="tomyvalentine">
            <p>To My Valentine :👩‍❤️‍👨 </p>
            <img class="mediaimg" src="/images/mediaimg.png" alt="">
            <img class="heartimg-1 normalimg" src="/images/Group 3.png" alt="">
        </div>
    </section>
    <script src="../../javascript/category.js"></script>
</body>

</html>