<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/notallowed.css">
    <title>Not allowed</title>
</head>

<body>
    <h1 class="oops">Oops!</h1>
    <p>You are not allowed to select images again :)</p>
    <div class="tenor-gif-embed" data-postid="16000456" data-share-method="host" data-aspect-ratio="1"
        data-width="100%"><a href="https://tenor.com/view/heart-beat-heart-love-cute-kawaii-gif-16000456">Heart Beat
            Love Sticker</a>from <a href="https://tenor.com/search/heart+beat-stickers">Heart Beat Stickers</a></div>
    <a href="/" class="home">Home</a>
    <a href="/en/valentine/templates" class="templates">Templates</a>

    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>

</html>