<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/templates.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.theme.default.css" />
    <title>Templates</title>
</head>

<body>
    <section>
        <div class="heading-templates">
            <h1>Template</h1>
        </div>
        <div class="all-templates-main-div">
            <div class="all-templates">
                <a class="each-template" href="/en/valentine/templates/template1"><img
                        src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt=""></a>
                <a class="each-template" href="/en/valentine/templates/template2">Template2</a>
                <a class="each-template" href="/en/valentine/templates/template3">Template3</a>
                <a class="each-template" href="/en/valentine/templates/template4">Template4</a>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
</body>

</html>