<div
	class="copy-to-clipboard-container"
	style="
		position: fixed;
		right: 0;
		bottom: 0;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		background-color: white;
		box-shadow: 1px 1px 5px inset rgba(0, 0, 0, 0.5),
			1px 1px 5px rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		margin: 1rem;
		flex-direction: column;
	"
>
	<p>Click to share your Gallery</p>
	<input type="text" style="opacity: 0; height: 0" disabled readonly />
</div>

<script>
	const buttonCopy = document.querySelector('.copy-to-clipboard-container');
	buttonCopy.addEventListener('click', function (e) {
		var copyText = window.location.href;
		var textArea = document.querySelector('.copy-to-clipboard-container input');
		textArea.value = copyText;
		textArea.select();
		document.execCommand('copy');
		buttonCopy.querySelector('p').innerHTML = 'Copied to clipboard';
	});
</script>
