<nav class="navbar">
    <div class="navright">
        <ul>
            <li class="navli1"><a href="#home">Home</a></li>
            <li class="navli2 valentine"><a href="/en/maintemplate">Valentine</a></li>
            <li class="navli2"><a href="/en/templates">Template</a></li>
            <li class="navli5"><a href="/en/contact">Contact</a></li>
            <% if (user) { %>
                <li class="navli5"><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                    <li class="navli5"><a href="/auth/login">Login</a></li>
                    <li class="navli5"><a href="/auth/register">Register</a></li>
                    <% } %>
        </ul>
        <img class="closebtn" src="https://img.icons8.com/ios-glyphs/60/ffffff/delete-sign.png" />
    </div>
    <img class="navlogo" src="/images/LP-logo.png" alt="LPlogo" />
</nav>
<header class="header">
    <li class="li1 li"></li>
    <li class="li2 li"></li>
    <li class="li3 li"></li>
</header>