<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/contactus.css">
    <title>Contact Us</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>


        <Section class="loginpage">
            <div class="login">
                <div class="image">
                    <img src="/images/album2.jpg" alt="">
                </div>
                <div class="form">
                    <form class="formlogin" action="/en/contact" method="POST" id="form">
                        <div class="loginheading">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="email">
                            <input type="text" placeholder="Enter Your Name" name="name" id="name" autofocus required>
                        </div>
                        <div class="email">
                            <input type="email" placeholder="Enter Your Email" name="email" id="email"
                                required>
                        </div>
                        <div class="email">
                            <input type="text" placeholder="Enter Your Number" name="number" id="number" minlength="10" maxlength="10"
                                required>
                        </div>
                        <div class="textArea">
                            <input type="text" placeholder="Enter Your Message" name="Message" id="Message" required>
                        </div>
                        <div class="btn">
                            <button type="submit" class="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="details">
                    <div class="callus">
                        <div class="call">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                            </svg>
                            <h1>Call Us</h1>
                        </div>
                        <div class="phn">
                            <p>+91-9888888888</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button type="submit" class="submit">Submit</button>
                    </div>
                </form>
            </div>
            
        </div>
    </Section>
    <section class="media">
        <div class="details">
            <div class="callus">
                <div class="call">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path
                            d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                    </svg>
                    <h1>Call Us</h1>
                </div>
                <div class="phn">
                    <p>+91-8939444102</p>
                </div>
            </div>
            <div class="socialM1">
                <div class="insta">
                    <img src="https://img.icons8.com/color/48/000000/youtube-play.png"/>
                    <a href="https://www.instagram.com/legalpirates/">Instagram</a>
                </div>
                <div class="linkedin">
                    <img src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/000000/external-linkedin-in-logo-used-for-professional-networking-logo-color-tal-revivo.png"/>
                    <a href="www.linkedin.com/in/legal-pirates-b4561a229">LinkedIn</a>
                </div>
                <div class="fb">
                    <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                    <a href="https://www.facebook.com/profile.php?id=100077522002353">Facebook</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>