<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Gallery</title>
	<link rel="stylesheet" href="/styles/navbar.css" />
	<link rel="stylesheet" href="/styles/index.css" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.theme.default.css" />
</head>

<body>
	<!-- navbar -->
	<%- include("./partials/navbar.ejs") %>

		<!-- section-1 -->
		<section class="section-1">
			<h1 class="sec1h1">GALLERY</h1>
			<div class="sec1left">
				<img class="section1vector1" src="./images/Vector 1.png" alt="vector-1" />
			</div>
			<div class="sec1right">
				<div class="mainimgsec1">
					<img class="mainsec1img" src="./images/image-1.png" alt="" />
				</div>
				<svg  fill="none" xmlns="http://www.w3.org/2000/svg"
					class="sec1svg-1">
					<path
						d="M48.3501 421.812C-60.4376 286.388 48.3501 0 48.3501 0H570V421.812C570 421.812 157.138 557.235 48.3501 421.812Z"
						fill="url(#paint0_linear_2_13)" />
					<defs>
						<linearGradient id="paint0_linear_2_13" x1="-101.5" y1="-186" x2="493.5" y2="499"
							gradientUnits="userSpaceOnUse">
							<stop stop-color="#FFEAEF" />
							<stop offset="1" stop-color="#FF003D" stop-opacity="0.23" />
						</linearGradient>
					</defs>
				</svg>
			</div>
		</section>
		<!-- section-2 -->
		<section class="About-us">
			<img class="img" src="/images/vector.png" alt="" />

			<h1 class="head2">About</h1>
			<p class="para">
				With our beautiful Templates, you can showcase your memories in a beautiful and simple way. You can
				upload, get the link, and share it with your friends and families so they can see how amazing your life
				really is. We're a breath of fresh air.
			</p>
		</section>
		<section class="images">
			<div class="div1">
				<div class="content1">
					<p class="para1">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia autem
						ut nostrum quod ipsam asperiores at, cumque nesciunt facere nisi ad
						enim ab culpa consequatur placeat tenetur inventore maiores hic!
					</p>
				</div>
				<div class="photo1">
					<div class="bg1">
						<img class="img1" src="/images/Olivia.png" alt="" />
					</div>
				</div>
			</div>
			<div class="div2">
				<div class="content1">
					<p class="para1">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia autem
						ut nostrum quod ipsam asperiores at, cumque nesciunt facere nisi ad
						enim ab culpa consequatur placeat tenetur inventore maiores hic!
					</p>
				</div>
				<div class="photo1">
					<div class="bg2">
						<img class="img1" src="/images/Olivia.png" alt="" />
					</div>
				</div>
			</div>
			<div class="div1">
				<div class="content1">
					<p class="para1">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia autem
						ut nostrum quod ipsam asperiores at, cumque nesciunt facere nisi ad
						enim ab culpa consequatur placeat tenetur inventore maiores hic!
					</p>
				</div>
				<div class="photo1">
					<div class="bg3">
						<img class="img1" src="/images/Olivia.png" alt="" />
					</div>
				</div>
			</div>
		</section>
		<!-- <section class="longimg">
			<img class="bg" src="/images/bg.png" alt="" />
			<img class="long" src="/images/img.png" alt="" />
		</section> -->
		<section class="sectionswiper">
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
					<div class="swiper-slide"><img src="/images/Olivia.png" alt=""></div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
			</div>
		</section>
		<%- include("./partials/footer.ejs") %>

			<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
			<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
			<script src="/javascript/index.js"></script>
			<script src="/javascript/navbar.js"></script>
</body>

</html>