<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/maintemplate.css" />
		<title>Templates</title>
	</head>

	<body>
		<section>
			<div class="cupid">
				<div class="cupid-image">
					<!-- <img draggable="false"  src="/images/cupid.png" alt=""> -->
				</div>
			</div>
			<div class="form-main-div">
				<form
					action="/maintemplate"
					method="POST"
					enctype="multipart/form-data"
				>
					<div class="first-divs">
						<div class="main-divs" data-type="0">
							<div class="main-divs_text">
								<h1>Are you committed?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="1">
							<div class="main-divs_text">
								<h1>Where is your first meet?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="2">
							<div class="main-divs_text">
								<h1>What do you call his/her?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="3">
							<div class="main-divs_text">
								<h1>Any selfies?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="4">
							<div class="main-divs_text">
								<h1>Any selfies? Where is your first meet?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="5">
							<div class="main-divs_text">
								<h1>Any selfies?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="6">
							<div class="main-divs_text">
								<h1>Where is your first meet?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="7">
							<div class="main-divs_text">
								<h1>Any selfies?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="8">
							<div class="main-divs_text">
								<h1>Where is your first meet?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
						<div class="main-divs" data-type="9">
							<div class="main-divs_text">
								<h1>Any selfies?</h1>
								<div>
									<div class="file-input-container">
										<input type="file" class="sm-input-file" id="sm-ip-1" />
										<label class="for-sm-input-file" for="sm-ip-1"
											>Add File</label
										>
										<span class="span-text" id="file-name"></span>
									</div>
								</div>
								<img draggable="false" src="#" id="imagesrc2 imagesrc" alt="" />
							</div>
						</div>
					</div>
					<div class="button-div">
						<button class="button-css" type="submit">
							<span class="text">Submit</span>
						</button>
					</div>
				</form>
			</div>
		</section>

		<script src="/javascript/maintemplate.js"></script>
	</body>
</html>
