<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/maintemplate.css">
    <title>Templates</title>
</head>

<body>
    <section>
        <div class="cupid">
            <div class="cupid-image">
                <!-- <img src="/images/cupid.png" alt=""> -->
            </div>
        </div>
        <div class="form-main-div">
            <form action="/en/maintemplate" method="POST" enctype="multipart/form-data">
                <div class="first-divs">

                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Any selfies?</h1>
                            <input type="file" name="image0" id="image0">
                            <img src="#" id="imagesrc2 imagesrc" alt="">
                        </div>
                    </div>

                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Where is your first meet?</h1>
                            <input type="file" name="image1" id="image1">
                            <img src="#" id="imagesrc3 imagesrc" alt="">
                        </div>
                    </div>
                    <div class="main-divs">
                        <div class="main-divs_text">
                            <div class="main-div-content">
                                <h1>Are you committed?</h1>
                                <div class="file-input">
                                    <input type="file" name="image2" id="image2" class="file">
                                </div>
                            </div>
                            <div class="main-content-image">
                                <img src="#" class="imagesrc" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Where is your first meet?</h1>
                            <input type="file" name="image3" id="image4">
                            <img src="#" id="imagesrc4 imagesrc" alt="">
                        </div>
                    </div>
                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Are you committed?</h1>
                            <input type="file" name="image4" id="image1">
                            <img src="#" id="imagesrc1 imagesrc" alt="">
                        </div>
                    </div>
                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Any selfies?</h1>
                            <input type="file" name="image5" id="image2">
                            <img src="#" id="imagesrc2 imagesrc" alt="">
                        </div>
                    </div>
                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Where is your first meet?</h1>
                            <input type="file" name="image6" id="image3">
                            <img src="#" id="imagesrc3 imagesrc" alt="">
                        </div>
                    </div>
                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Where is your first meet?</h1>
                            <input type="file" name="image7" id="image4">
                            <img src="#" id="imagesrc4 imagesrc" alt="">
                        </div>
                    </div>
                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Where is your first meet?</h1>
                            <input type="file" name="image8" id="image3">
                            <img src="#" id="imagesrc3 imagesrc" alt="">
                        </div>
                    </div>
                    <div class="main-divs">
                        <div class="main-divs_text">
                            <h1>Where is your first meet?</h1>
                            <input type="file" name="image9" id="image4">
                            <img src="#" id="imagesrc4 imagesrc" alt="">
                        </div>
                    </div>
                </div>
                <div class="button-div">
                    <button class="button-css" type="submit"><span class="text">Submit</span></button>
                </div>
            </form>
        </div>
    </section>


    <script src="/javascript/maintemplate.js"></script>
</body>

</html>