<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempalate 1</title>
    <link rel="stylesheet" href="/styles/template1.css">
</head>

<body>

    <%- include("../partials/navbar.ejs") %>
        <section class="section1">
            <div class="heart">
                <!-- <img src="../images/image-1.png" alt=""> -->
            </div>
        </section>
        <section class="section2">
            <div class="gridimg1"></div>
            <div class="gridimg2"></div>
            <div class="gridimg3"></div>
            <div class="gridimg4"></div>
        </section>


        <script src="/javascript/template1.js"></script>
</body>

</html>