<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/template1.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.theme.default.css"
    />
    <title>Tempalate 1</title>
  </head>

  <body>
    <section class="section1">
      <div class="heart">
        <img draggable="false"  src="/images/template1/oriimage1.jpg" alt="" />
      </div>
    </section>
    <section class="section2">
      <div class="container">
        <div class="gridimg1">
          <img draggable="false"  src="/images/template1/image1.jpeg" alt="" />
        </div>
        <div class="gridimg2">
          <img draggable="false"  src="/images/template1/image2.jpeg" alt="" />
        </div>
        <div class="gridimg3">
          <img draggable="false"  src="/images/template1/image3.jpeg" alt="" />
        </div>
        <div class="gridimg4">
          <img draggable="false"  src="/images/template1/image4.jpeg" alt="" />
        </div>
        <div class="gridimg5">
          <img draggable="false"  src="/images/template1/image5.jpeg" alt="" />
        </div>
      </div>
    </section>
    <section class="section3">
      <div class="floatingheart">
        <img draggable="false"  src="/images/template1/oriimage2.jpg" alt="" />
      </div>
      <div class="section3heart">
        <p class="heart_text">TEXT HERE</p>
      </div>
    </section>
    <section class="section4">
      <div class="section4left"></div>
      <!-- <img draggable="false"  src="/images/imagesl.png" alt=""> -->
      <div class="section4right"></div>
    </section>
    <section class="section5">
      <div class="sec5cont">
        <div class="sec-5div1">
          <img draggable="false"  src="/images/template1/image6.jpeg" alt="" />
        </div>
        <div class="sec-5div2">
          <img draggable="false"  src="/images/template1/image7.jpeg" alt="" />
        </div>
        <div class="sec-5div3">
          <img draggable="false"  src="/images/template1/image1.jpeg" alt="" />
        </div>
      </div>
    </section>
    <%- include('../../partials/copyToClipboard.ejs') %>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
    <script src="/javascript/template1.js"></script>
  </body>
</html>
