<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template3</title>
    <link rel="stylesheet" href="/styles/template3.css" />
  </head>
  <body>
    <section class="section1"></section>
    <section class="section2">
      <div class="section2left">
        <div class="section2div1">
          <img src="/images/image-1.png" alt="" />
        </div>
        <div class="section2div2">
          <img src="/images/image-2.png" alt="" />
        </div>
      </div>
      <div class="section2right">
        <div class="section2div3">
          <img src="/images/image-3.png" alt="" />
        </div>
      </div>
    </section>
    <section class="section3">
      <div class="container">
        <div class="contgrid1 contgrid">
          <img src="/images/image1.png" alt="" />
        </div>
        <div class="contgrid2 contgrid">
          <img src="/images/image2.png" alt="" />
        </div>
        <div class="contgrid3 contgrid">
          <img src="/images/image3.png" alt="" />
        </div>
        <div class="contgrid4 contgrid">
          <img src="/images/image4.png" alt="" />
        </div>
        <div class="contgrid5 contgrid">
          <img src="/images/image5.png" alt="" />
        </div>
        <div class="contgrid6 contgrid">
          <img src="/images/image6.png" alt="" />
        </div>
        <div class="contgrid7 contgrid">
          <img src="/images/image7.png" alt="" />
        </div>
      </div>
    </section>
    <section class="section4">
      <img class="sec4bg" src="/images/Vector 34.png" alt="" />
      <img class="sec4image1" src="/images/image-2.png" alt="" />
      <img class="sec4image2" src="/images/image-2.png" alt="" />
      <img class="sec4image3" src="/images/image-2.png" alt="" />
      <img class="sec4image4" src="/images/image-2.png" alt="" />
    </section>
    <section class="section5">
      <div class="container2">
        <div class="grid1"><img src="/images/image1.png" alt="" /></div>
        <div class="grid2"><img src="/images/image1.png" alt="" /></div>
        <div class="grid3"><img src="/images/image1.png" alt="" /></div>
        <div class="grid4"><img src="/images/image1.png" alt="" /></div>
      </div>
    </section>
  </body>
</html>
