* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/bgcon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.loginpage {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 50%;
  height: 78vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(15%);
  z-index: 4;
  margin-top: 20%;
}

.image img {
  width: 65%;
  height: 78vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formlogin {
  width: 70%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-30%);
  background-color: rgba(256, 256, 256);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.342);
}
/*Heading  */
.loginheading {
  position: relative;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginheading h1 {
  font-size: 3rem;
  position: relative;
  color: #000;
}
/* Email */
.email {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}
.textArea {
  width: 100%;
  height: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}

.email input {
  width: 70%;
  height: 2.9rem;
  position: relative;
  border: 1.5px solid #000;
  text-align: center;
  font-size: 1.2rem;
}
.textArea textarea {
  width: 70%;
  height: 100%;
  position: relative;
  border: 1.5px solid #000;
  text-align: center;
  font-size: 1.2rem;
}
/* Submit */
.btn {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
  color: #000;
  font-size: 1.3rem;
  position: relative;
  background-color: transparent;
  border: #000 solid 2px;
  cursor: pointer;
  padding: 0.7rem 2rem;
}
.submit:hover {
  background-color: #000;
  color: #fff;
}
/* Text */
.text {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text p {
  font-size: 1.3rem;
  position: relative;
  color: #000;
}
.text1 {
  width: 100%;
  height: 19%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text1 p {
  font-size: 1.3rem;
  position: relative;
  color: #000;
}
::placeholder {
  text-align: center;
  font-size: 1.2rem;
}
/* Footer */
.media {
  width: 100%;
  height: 30vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.details {
  width: 60%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}

.media-details {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.call {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.call svg {
  width: 48px;
  color: white;
}
.phn {
  color: white;
}

.socialM1 {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.socialmedia-div {
  width: 70%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.all-sm-divs {
  width: 100%;
  height: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.all-sm-divs a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

/* Media Query */
@media (max-width: 1250px) {
  .form {
    width: 60%;
  }
  .formlogin {
    width: 75%;
    transform: translateX(-20%);
  }
  .image {
    width: 52%;
    margin-top: 9%;
  }
}
@media (max-width: 1000px) {
  .image {
    display: none;
  }
  .formlogin {
    width: 100%;
    transform: translateX(0%);
  }
  .media {
    transform: translateY(-20%);
  }
  .socialmedia-div {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .details {
    flex-direction: column;
    height: 100%;
  }
  .socialM1 {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .submit {
    font-size: 1.3rem;
    border: #000 solid 2px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }
  .text p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .socialmedia-div {
    flex-direction: column;
  }
  .media {
    height: 60vh;
    transform: translateY(-10%);
  }
}

@media (max-width: 400px) {
  .text p {
    font-size: 1rem;
  }
  .email input {
    height: 2.7rem;
  }
  ::placeholder {
    text-align: center;
    font-size: 1rem;
  }
  .formlogin {
    width: 100%;
    height: 70vh;
  }
  .loginheading h1
  {
    font-size: 2rem;
  }
  .form
  {
    width: 90%;
  }
  .details
  {
    width: 90%;
  }
}
