* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #ff60b6;
  display: flex;
}
.sec1left {
  position: relative;
  height: 100%;
  width: 40%;
}
.sec1right {
  position: relative;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1vector1 {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.sec1svg-1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 35.5rem;
  height: 30.1rem;
}

.mainimgsec1 {
  position: relative;
  height: 55%;
  width: 45%;
  z-index: 4;
  /* background: url("./images/image-1.png") no-repeat center/contain; */
}

.mainsec1img {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.mainimgsec1::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 90%;
  z-index: 2;
  border: 2px solid #ffffff;
  right: 0;
  top: 0;
  mix-blend-mode: multiply;
  transform: translate(10%, -15%);
}

.mainimgsec1::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 90%;
  z-index: 2;
  border: 2px solid #ffffff;
  left: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: linear-gradient(to bottom, #ffffff, #ff0d81);
  transform: translate(-10%, 15%);
}

.sec1h1 {
  position: absolute;
  font-size: 6rem;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  z-index: 6;
  padding-left: 3%;
  border-left: 5px solid #ffffff;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

/* About Us */
.About-us {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  position: relative;
}
.img {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0%;
}
.head2 {
  font-size: 5.6rem;
  font-weight: bold;
  color: #f2f2f2;
  position: absolute;
  left: 68%;
  top: 20%;
}
.para {
  width: 30%;
  height: 50%;
  font-size: 1.7rem;
  font-weight: 200;
  color: #111;
  position: absolute;
  left: 14%;
  top: 30%;
  line-height: 2.6rem;
}

/* Images */
.images {
  width: 100%;
  height: 210vh;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div1 {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.div2 {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.content1 {
  width: 50%;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  width: 22vw;
  height: 55vh;
  border: #fff solid 8px;
  position: absolute;
  top: -9%;
}
.bg1 {
  width: 25vw;
  height: 54vh;
  background-color: #ff00c7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg2 {
  width: 25vw;
  height: 54vh;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg3 {
  width: 25vw;
  height: 54vh;
  background-color: #8f00ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  width: 22vw;
  height: 55vh;
  top: -9%;
}
.para1 {
  width: 70%;
  font-size: 1.6rem;
  color: #111;
  line-height: 2.2rem;
  position: absolute;
  top: 3%;
}

/* Long Img */
.longimg {
  width: 100%;
  height: 108vh;
  background-color: #f2f2f2;
  position: relative;
}
.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.long {
  width: 93vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -43% 0% 0% 3%;
}

/* swiper section */
.sectionswiper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 80%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.load {
  height: 40%;
  width: 40%;
  background-color: #111;
  position: relative;
}
.loadmain {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: white;
  z-index: 100;
}
.close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 40px;

  cursor: pointer;
}

/* Media Query */

@media (max-width: 750px) {
  

  .sec1h1 {
    font-size: 4.3rem;
    left: 5%;
  }

  .head2 {
    font-size: 3.6rem;
    font-weight: bold;
    position: absolute;
    color: #000;
    left: 50%;
    top: 8%;
  }
  .para {
    width: fit-content;
    height: fit-content;
    left: auto;
    top: 20%;
    padding: 5%;
    text-align: justify;
    font-size: 1.7rem;
  }

  .div1,
  .div2 {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .photo1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content1 {
    width: 100%;
    height: 35vh;
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images {
    height: 100%;
  }

  .bg1,
  .bg2,
  .bg3 {
    width: 70%;
  }
  .img1 {
    width: fit-content;
  }

  .mainimgsec1 {
    height: fit-content;
    width: 100%;
    right: 20%;
  }
}

@media (max-width: 500px) {
  .sec1h1 {
    font-size: 2.3rem;
    left: 5%;
  }

  .head2 {
    font-size: 3.6rem;
    font-weight: bold;
    position: absolute;
    color: #000;
    left: 25%;
    top: 8%;
  }
  .para {
    width: fit-content;
    height: fit-content;
    left: auto;
    top: 20%;
    padding: 5%;
    text-align: justify;
    font-size: 1.7rem;
  }

  .div1,
  .div2 {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .photo1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content1 {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .images {
    height: 100%;
  }
  .bg1,
  .bg2,
  .bg3 {
    width: 95%;
  }
  .img1 {
    width: fit-content;
  }

  .mainimgsec1 {
    height: fit-content;
    width: 100%;
    right: 20%;
  }
}
