* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* About Us */
.About-us {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  position: relative;
}
.img {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0%;
}
.head2 {
  font-size: 5.6rem;
  font-weight: bold;
  color: #f2f2f2;
  position: absolute;
  left: 68%;
  top: 20%;
}
.para {
  width: 30%;
  height: 50%;
  font-size: 2.2rem;
  font-weight: 200;
  color: #111;
  position: absolute;
  left: 14%;
  top: 30%;
  line-height: 2.6rem;
}
/* Media Query for About Us */
@media (max-width: 1300px) {
  .para {
    top: 20%;
  }
}
@media screen and (max-width: 1250px) {
  .para {
    width: 30%;
    height: 50%;
    font-size: 2.2rem;
    font-weight: 200;
    color: #111;
    position: absolute;
    left: 14%;
    top: 23%;
    line-height: 2.6rem;
  }
}
@media (max-width: 1100px) {
  .para {
    font-size: 2rem;
    top: 23%;
    line-height: 2.4rem;
  }
}
@media (max-width: 900px) {
  .para {
    font-size: 1.7rem;
    left: 11%;
    top: 21%;
    line-height: 2.4rem;
  }
}
@media (max-width: 750px) {
  .para {
    font-size: 1.3rem;
    left: 11%;
    top: 22%;
    line-height: 2.4rem;
  }
  .head2 {
    font-size: 5.3rem;
    font-weight: bold;
    color: #f2f2f2;
    position: absolute;
    left: 65%;
    top: 20%;
  }
}
@media (max-width: 650px) {
  .head2 {
    font-size: 5rem;
    font-weight: bold;
    color: #f2f2f2;
    position: absolute;
    left: 60%;
    top: 20%;
  }
}
@media (max-width: 500px) {
  .head2 {
    font-size: 3.7rem;
    font-weight: bold;
    color: #f2f2f2;
    position: absolute;
    left: 51%;
    top: 13%;
  }
  .para {
    font-size: 1.3rem;
    left: 11%;
    top: 15%;
    line-height: 1.8rem;
  }
}
@media (max-width: 400px) {
  .para {
    font-size: 1.3rem;
    left: 11%;
    top: 15%;
    line-height: 1.6rem;
  }
}
/* Images */
.images {
  width: 100%;
  height: 210vh;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div1 {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.div2 {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.content1 {
  width: 50%;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.para1 {
  width: 70%;
  font-size: 1.8rem;
  color: #111;
  line-height: 2.4rem;
}
.photo1 {
  width: 50%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.bg1 {
  width: 25vw;
  height: 54vh;
  background-color: #ff00c7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg2 {
  width: 25vw;
  height: 54vh;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg3 {
  width: 25vw;
  height: 54vh;
  background-color: #8f00ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  width: 22vw;
  height: 55vh;
  border: #fff solid 8px;
  position: absolute;
  top: -9%;
}
/* media query for images */
@media screen and (max-width: 1000px) {
  .bg1 {
    width: 35vw;
    height: 54vh;
  }
  .bg2 {
    width: 35vw;
    height: 54vh;
  }
  .bg3 {
    width: 35vw;
    height: 54vh;
  }
  .img1 {
    width: 32vw;
    height: 55vh;
    top: -9%;
  }
}
@media (max-width: 700px) {
  .div1,
  .div2 {
    height: 100vh;
    flex-direction: column;
  }
  .images {
    height: 300vh;
  }
  .content1 {
    width: 100%;
    height: 51vh;
  }
  .bg1 {
    width: 47vw;
    height: 54vh;
  }
  .bg2 {
    width: 47vw;
    height: 54vh;
  }
  .bg3 {
    width: 47vw;
    height: 54vh;
  }
  .img1 {
    width: 40vw;
    height: 55vh;
    top: -8%;
  }
}
@media (max-width: 600px) {
  .para1 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .photo1 {
    width: 60%;
  }
  .bg1 {
    width: 55vw;
    height: 54vh;
  }
  .bg2 {
    width: 55vw;
    height: 54vh;
  }
  .bg3 {
    width: 55vw;
    height: 54vh;
  }
  .img1 {
    width: 48vw;
    height: 55vh;
    top: 42%;
  }
}
@media (max-width: 600px) {
  .para1 {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
  .photo1 {
    width: 60%;
  }
  .bg1 {
    width: 55vw;
    height: 50vh;
  }
  .bg2 {
    width: 55vw;
    height: 50vh;
  }
  .bg3 {
    width: 55vw;
    height: 50vh;
  }
  .img1 {
    width: 48vw;
    height: 50vh;
    top: 46%;
  }
}
@media (max-width: 400px) {
  .photo1 {
    width: 70%;
  }
  .bg1 {
    width: 60vw;
    height: 47vh;
  }
  .bg2 {
    width: 60vw;
    height: 47vh;
  }
  .bg3 {
    width: 60vw;
    height: 47vh;
  }
  .img1 {
    width: 52vw;
    height: 47vh;
    top: 48%;
  }
}
/* Long Img */
.longimg {
  width: 100%;
  height: 108vh;
  background-color: #f2f2f2;
  position: relative;
}
.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.long {
  width: 93vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -43% 0% 0% 3%;
}
