@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
/* navbar */
/* scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #E962FF 0%, #FF2299 100%);
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #E962FF 0%, #FF2299 100%);
}

.header {
  position: fixed;
  position: -webkit-sticky;
  width: 80px;
  height: 70px;
  top: 0%;
  right: 5%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.li1 {
  position: relative;
  width: 60%;
  height: 6px;
  background: #fff;
  margin: 3px;
  list-style-type: none;
  border-radius: 3px;
}

.li2 {
  position: relative;
  width: 60%;
  height: 6px;
  background: #fff;
  margin: 3px;
  list-style-type: none;
  border-radius: 3px;
}

.li3 {
  position: relative;
  width: 60%;
  height: 6px;
  background: #fff;
  margin: 3px;
  list-style-type: none;
  border-radius: 3px;
}

.header:hover {
  cursor: pointer;
}

.navbar {
  position: fixed;
  height: 0vh;
  width: 0%;
  top: 0;
  z-index: 13;
  font-size: 0rem;
  background: #8A5F76;
  transform: rotate(-45deg) translate(100%, -100%);
  transition: all 0.7s;
}

.navlogo {
  position: absolute;
  /* height: 300px; */
  width: 300px;
  bottom: 0;
  right: 5%;
}

.navright {
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  height: 0%;
  width: 0%;
  clip-path: polygon(0 0, 100% 0, 34% 100%, 0% 100%);
  transform: rotate(45deg) translate(-100%, 50%);
  z-index: 13;
  transition: all 1s;
  display: flex;
  align-items: center;
}

.navright ul {
  position: relative;
  display: flex;
  height: 60%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.navright ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  transition: transform 0.5s;
}

.navright ul li:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.navright a {
  text-decoration: none;
  letter-spacing: 3px;
  font-family: "Rowdies", cursive;
  /* background: linear-gradient(to left, #8F00FF, #AF7DFF);
  -webkit-background-clip: text;
  background-clip: text; */
  color: #ffffff;
  font-weight: 200;
}

.navright ul li:hover a {
  background: linear-gradient(to right, #8f00ff, #af7dff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.closebtn {
  position: absolute;
  right: 10%;
  top: 5%;
  z-index: 17;
}

.closebtn:hover {
  cursor: pointer;
}

.active {
  transform: rotate(0deg) translate(0%, 0%) !important;
  height: 100vh;
  width: 100%;
  font-size: 3rem;
}

.active2 {
  transform: rotate(0deg) translate(0%, 0%) !important;
  height: 100%;
  width: 100%;
}

.footer {
  position: relative;
  height: 50vh;
  width: 100%;
  background: #ff88c8;
  display: flex;
  /* align-items: center; */
}

.footerh1 {
  position: absolute;
  font-size: 3rem;
  left: 5%;
  top: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #fff;
  z-index: 2;
}

.content {
  position: relative;
  width: 50%;
  height: 70%;
  left: 5%;
  top: 20%;
  color: white;
  font-size: 1.2rem;
  font-family: "rowdies", cursive;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  /* background: #000; */
  justify-content: space-around;
}
.content a {
  color: white;
}

.phone {
  position: relative;
  height: 2rem;
}

.content div {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
}

.content > div > h6 {
  margin-left: 2%;
}

.content span {
  position: relative;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.content span img {
  position: relative;
  height: 4rem;
  width: 4rem;
  margin: 0 0 2% 2%;
}
.footersvg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 30%;
  height: 100%;
}

@media (max-width: 1500px) {
  .closebtn {
    height: 45px;
  }
}

@media (max-width: 1500px) {
  .footerh1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 830px) {
  .footerh1 {
    font-size: 2rem;
  }
}

@media (max-width: 720px) {
  .navlogo {
    /* height: 200px; */
    width: 200px;
  }
  .content span img {
    height: 3rem;
    width: 3rem;
  }
  .content {
    font-size: 1.1rem;
  }
}

@media (max-width: 720px) {
  .lplogo {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 680px) {
  .footerh1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 680px) {
  .content {
    width: 60%;
    height: 78%;
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .content {
    width: 95%;
  }
  .footersvg {
    display: none;
  }
  .content span {
    width: 90%;
    justify-content: space-around;
  }
}

@media (max-width: 420px) {
  .navright {
    clip-path: none;
    justify-content: center;
  }
}
