* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* section-1 */
.section1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(107.48deg, #e962ff 0%, #ff2299 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart img {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 7;
}

.heart {
  height: 100%;
  width: 50%;
  -webkit-mask-image: url("../images/Layer\ 0.png");
  mask-image: url("../images/Layer\ 0.png");
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* section-2 */
.section2 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 95%;
  width: 98%;
  display: grid;
  /* grid-auto-columns: 1fr; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "grid1 grid2 grid3 grid3"
    "grid1 grid2 grid3 grid3"
    "grid4 grid4 grid3 grid3"
    "grid4 grid4 grid6 grid6"
    "grid4 grid4 grid6 grid6"
    "grid4 grid4 grid6 grid6";
}
.gridimg2 {
  position: relative;
  grid-area: grid2;
  background: #000;
}
.gridimg1 {
  position: relative;
  grid-area: grid1;
  background: rgb(255, 0, 0);
}
.gridimg3 {
  position: relative;
  grid-area: grid3;
  background: rgb(217, 255, 0);
}
.gridimg5 {
  position: relative;
  grid-area: grid6;
  background: rgb(71, 243, 19);
}
.gridimg4 {
  position: relative;
  grid-area: grid4;
  background: rgb(10, 14, 230);
}

.container img{
  position: absolute;
  height: 100%;
  width: 100%;
}

/* section-3 */
.section3 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3heart {
  position: relative;
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fa00ff;
  -webkit-mask-image: url("../images/Layer\ 0.png");
  mask-image: url("../images/Layer\ 0.png");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 50%;
  mask-size: 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.floatingheart {
  position: absolute;
  height: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fa00ff;
  -webkit-mask-image: url("../images/Layer\ 0.png");
  mask-image: url("../images/Layer\ 0.png");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 50%;
  mask-size: 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  z-index: 5;
  transform: rotate(-36deg) translate(-19%, -38%);
}
/* section-4 */
.section4 {
  position: relative;
  height: 100vh;
  width: 100%;
  margin-bottom: 1%;
}

.section4left {
  position: absolute;
  height: 100%;
  width: 60%;
  clip-path: polygon(0 0, 57% 0, 100% 100%, 0 100%);
  background: url("../images/imagesl.png") no-repeat center/cover;
}
.section4 img {
  position: absolute;
  height: 100%;
  width: 65%;
}
.section4right {
  position: absolute;
  height: 100%;
  width: 65%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
  background: url("../images/image-2.png") no-repeat center/cover;
  right: 0;
}
/* section-5 */
.section5 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(118.94deg, #ff09e6 0%, #7520ff 100%);
}

.sec5cont {
  position: relative;
  height: 95%;
  width: 95%;
  display: grid;
  grid-template-columns: (2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-areas:
    "gridar1 gridar3"
    "gridar2 gridar3";
}
.imgtemp {
  width: 100%;
  height: 100%;
}
.sec-5div1 {
  position: relative;
  grid-area: gridar1;
  background: #000;
}
.sec-5div2 {
  position: relative;
  grid-area: gridar2;
  background: red;
}
.sec-5div3 {
  position: relative;
  grid-area: gridar3;
  background: blue;
}

.sec5cont img {
  position: absolute;
  height: 100%;
  width: 100%;
}



@media (max-width: 1300px) {
  .heart {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .heart {
    width: 75%;
  }
}
@media (max-width: 900px) {
  .section2 {
    height: 200vh;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "grid1 grid2 "
      "grid4 grid4 "
      "grid4 grid4"
      "grid3 grid3"
      "grid3 grid3"
      "grid6 grid6"
      "grid6 grid6";
  }
}

@media (max-width: 800px) {
  .section3 {
    height: 70vh;
  }
}
@media (max-width: 800px) {
  .section5 {
    height: 150vh;
  }
  .sec5cont {
    grid-template-columns: (1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1rem;
    grid-template-areas:
      "gridar1"
      "gridar2"
      "gridar3";
  }
}
@media (max-width: 700px) {
  .section4 {
    height: 53vh;
  }
}
@media (max-width: 650px) {
  .section3heart {
    height: 100%;
    width: 100%;
  }
  .floatingheart {
    height: 66%;
    width: 85%;
  }
}
@media (max-width: 550px) {
  .heart {
    width: 100%;
    height: 60%;
  }
}
@media (max-width: 500px) {
  .floatingheart {
    display: none;
  }
  .section3heart {
    -webkit-mask-size: 80%;
    mask-size: 80%;
  }
  .section4 {
    height: 40vh;
  }
}

